/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  /* debug */
  border: 2px solid blue;
  margin-bottom: 130px;
  margin-top: 60px;
  /* fine debug */
}

.tocenter {
  text-align: center;
}

.toright {
  text-align: right;
}

li {
  list-style: none;
}


/* NAVIGATORE */

nav img {
  width: 70%;
}

nav li {
  display: inline-block;
}


nav .row div:nth-child(3) {
  text-align: right;
}

/* JUMBOTRON */

#jumbotron {
  padding: 30px 0;
}

#boxform {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

#boxform input, #boxform button {
  display: block;
  width: 100%;
}


/* -- Deploy and scale seamlessly --------------------------------- */

#deployandscale ul {
  border-left: 1px solid black;
  padding-left: 20px;
  margin-left: 50%;
}

/* -- Designed for developers  ------------------------------------- */

#designedfordevelopers img{
  width: 100%;
}

.arrow {
  line-height: 356.84px;
  font-size: 50px;
}


/* -- Service your customers around the world  ------------------------ */

#aroundtheworld table {
  width: 100%;
}

#aroundtheworld table td:nth-child(3){
  text-align: right;
}



/* debug */
.row {
  border: 2px solid red;
}

[class*="col-"] {
  background-color: grey;
  border: 1px solid black;
  min-height: 110px;
}

/* fine debug */
