/* FOGLIO DI STILE */

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  /* debug */
  border: 2px solid blue;
  /* margin-bottom: 130px; */
  /* margin-top: 60px; */
  /* fine debug */
}

.tocenter {
  text-align: center;
}

.toright {
  text-align: right;
}

li {
  list-style: none;
}


/* NAVIGATORE ---------------------------------------------------*/

nav img {
  width: 70%;
}

nav ul {
  margin-bottom: 0;
  line-height: 56.41px;
}

nav li {
  display: inline-block;
  margin:0 10px;
}




nav .row div:nth-child(3) {
  text-align: right;
}

nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  z-index: 2;
  margin: 0 auto;
}


/* JUMBOTRON -----------------------------------------------------*/

#jumbotron {
  padding: 30px 0;
  margin-top: 100px;
  background-image: url("../img/bg-home-1-d54581d7.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

#jumbotron h1 {
  font-size: 50px;
  color: white;
}

#jumbotron p {
  font-size: 30px;
  color: rgb(161, 161, 161);
}

#boxform {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

#boxform input, #boxform button {
  display: block;
  width: 100%;
}


/* -- Deploy and scale seamlessly --------------------------------- */

#deployandscale ul {
  border-left: 1px solid black;
  padding-left: 20px;
  margin-left: 50%;
}

/* -- Designed for developers  ------------------------------------- */

#designedfordevelopers img{
  width: 100%;
}

.arrow {
  line-height: 356.84px;
  font-size: 50px;
}


/* -- Service your customers around the world  ------------------------ */

#aroundtheworld {
  background-color: #031b4e;
}

#aroundtheworld h2 {
  color: white;
  font-weight: bold;
}

#aroundtheworld table {
  width: 100%;
}

#aroundtheworld table td:nth-child(3){
  text-align: right;
}

#aroundtheworld table tr {
  border-bottom: 1px solid white;
}

#aroundtheworld table td {
  margin-bottom: 20px;
  padding: 10px 0;
}

#aroundtheworld table tr:nth-child(6) {
  border-bottom: none;
}

#aroundtheworld table td:nth-child(1) {
  color: white;
}

#aroundtheworld table td:nth-child(2) {
  color: grey;
}





/* debug */
.row {
  border: 2px solid red;
}

[class*="col-"] {
  background-color: none;
  border: 1px solid black;
}

/* fine debug */
